@import url('https://fonts.googleapis.com/css?family=Arvo|Dokdo|Indie+Flower|Josefin+Sans|Lato|Montserrat:400,700');
:root {
  --bg-orange: #ff8800;
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  font-size: 12px;
  background: var(--bg-orange);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#app {
  width: 100%;
}

.box__form {
  width: 80%;
  margin: 0 auto;
}
.box__form form {
  display: flex;
  flex-direction: column;
}
.box__form form > *{
  padding:10px;
  margin: 5px 0px;
}
.box__form select,.box__form option,.box__form optgroup,.box__form input,.box__form button{
  font-size: 24px;
}

.box__form button{
  background: #fff;
  border: 0;
}
.box__form button:hover{
  background: #ccc;
  cursor: pointer;
}

.box__image{
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

.box__image img{
  max-width: 80%;
}

.box__image .image__name{
  font-size: 24px;
  text-align: center;
  background: #fff;
  border: 1px solid #ccc;
  max-width: 300px;
  word-break: break-word;
  position: relative;
  bottom: 70px;
}

.box__image .image__name[data-color="color--333"]{
  color: #333
}
.box__image .image__name[data-color="color--222"]{
  color: #222

}
.box__image .image__name[data-color="color--111"]{
  color: #111
}
.box__image .image__name[data-color="color--ccc"]{
  color: #ccc
}
.box__image .image__name[data-color="color--ddd"]{
  color: #ddd
}

.box__image .image__name[data-font="font--Arvo"]{
  font-family: 'Arvo', serif;
}
.box__image .image__name[data-font="font--Dokdo"]{
  font-family: 'Dokdo', cursive;
}
.box__image .image__name[data-font="font--IndieFlower"]{
  font-family: 'Indie Flower', cursive;
}
.box__image .image__name[data-font="font--JosefinSans"]{
  font-family: 'Josefin Sans', sans-serif;
}
.box__image .image__name[data-font="font--Lato"]{
  font-family: 'Lato', sans-serif;
}
.box__message .message{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  background: #fff;
  color: green;
  align-items: center;
  justify-content: center;
  z-index: 2;
  height: 100px;
  width: 350px;
  margin: -50px 0px 0px -175px;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}
.box__message.show:before{
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .65);
  position: fixed;
  top: 0;
  left: 0;
  content: '';
  z-index: 1;
}
.box__message.show .message{
  display: flex;
}